<!DOCTYPE html>
<html>
    <head>
        <title>500 Internal Server Error</title>
        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Internal Server Error</h1>

        <p>The server encountered an internal error and was unable to complete your request. Either the
            server is overloaded or there is an error in the application.</p>

        <p>Here's a link to the <a href="/">home page</a>.</p>
    </body>
</html>
