{% extends "bootstrap-layout.html" %}
{% block title %}qx.lc{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8  col-md-offset-2 col-xs-12 col-xs-offset-0">
                <h1 class="title">qx.lc Beta</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                <div class="list-group">
                    <div class="list-group-item">
                        <p>qx.lc is developed in Python 3, using the flask web framework. Here's a link to the <a
                                href="https://github.com/daboross/qxlc">github repository</a>.
                            <br>Please direct any comments/questions to dabo [at] dabo [dot] guru.</p>

                        <p>This currently only functoins as a link shortener, but will be expanded to function as a
                            paste server, and an image server.</p>

                        <p>Note that qx.lc is in active development, and shortened links will be cleared regularly.
                            <br>That being said, feel free to try out the service.</p>

                    </div>
                    <div class="list-group-item">
                        <h3>Link shortener</h3>

                        <textarea id="link-area" class="form-control" rows="2"
                                  placeholder="Type/paste url here"></textarea>

                        <button id="link-submit-button" type="submit" class="btn btn-default text-center">
                            Submit
                        </button>
                        <div id="link-result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- Javascript - Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/index.js"></script>
{% endblock %}
