{% extends "bootstrap-layout.html" %}
{% block title %}qx.lc{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8  col-md-offset-2 col-xs-12 col-xs-offset-0">
                <h1 class="title">qx.lc Beta</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                <div class="list-group">
                    <div class="list-group-item">
                        <p>qx.lc is developed in Python 3, using the flask web framework. The source and be found at the
                            <a href="https://github.com/daboross/qxlc">github repository</a></p>

                        <p>Note that qx.lc is in active development, and may not be completely stable. Please do not
                            depend on qx.lc links to remain available for long periods of time.</p>

                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                <input id="link-area" type="text" class="form-control" placeholder="http://google.com">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button id="link-submit-button" type="submit" class="btn btn-default text-center">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="link-result-group-item" hidden>
                        <div class="list-group-item">
                            <table id="link-result" class="table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- Javascript - Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/index.js"></script>
{% endblock %}
